body {
    font-family: 'Courier New', monospace;
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 100px;
}

.container {
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
    color: rgb(155, 138, 108);
}

.cursor {
    display: inline-block;
    color: black;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
/* Navigationsleiste oben rechts */
.top-nav {
    position: absolute;
    top: 20px;
    right: 20px; /* statt left: 20px */
}

.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.top-nav li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background-color: #ddd;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.top-nav li a:hover {
    background-color: #bbb;
}
.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('../assets/demos/image_card.jpg') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
